.AdminIncomingPlacedOrder_page {
    margin: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 10vh;
    width: 100%;
}

/* .AdminIncomingPlacedOrder_page .left_side {
    width: 17%;
    height: 100vh;
    position: fixed;
}

.AdminIncomingPlacedOrder_page .right_side {
    width: 83%;
    margin-left: 17%;
}

.AdminIncomingPlacedOrder_page .right_side .head{
    width: 83%;
    position: fixed;
    z-index: 1;
}  */
/* 
.AddOrder_page .right_side .body{
    margin-top: 50px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.AdminIncomingPlacedOrder_page .body{
    width: 100%;
    /* margin-top: 50px; */
    /* padding: 40px 50px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AdminIncomingPlacedOrder_page .body .title .right_title{
    display: flex;
    flex-direction: row;
}

.AdminIncomingPlacedOrder_page .location_section{
    padding: 20px 0;
    border-bottom: 1px solid #FF8B13 ;
}

.AdminIncomingPlacedOrder_page{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}
.AdminIncomingPlacedOrder_page .halftext_feild{
    flex-direction: column;
}

.AdminIncomingPlacedOrder_page .half{
    width: 280px;
    font-size: 16px;
    border: 2px solid #FF8B13;
    background: #FFF;
    color: #1D2126;
    padding: 0 3px;
    outline: none;
    margin-top: 8px;
    padding: 5px 5px;
}

.AdminIncomingPlacedOrder_page .Q{
    width: 150px;
    font-size: 16px;
    border: 2px solid #FF8B13;
    background: #FFF;
    color: #1D2126;
    padding: 0 3px;
    outline: none;
    margin-top: 8px;
    padding: 5px 5px;
}

.AdminIncomingPlacedOrder_page  label{
    color: #1D2126;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 10px;
}

.AdminIncomingPlacedOrder_page .product_section{
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    align-items: flex-end;
    justify-content: flex-start ;
}

.AdminIncomingPlacedOrder_page .AddOrder_page .btn{
    padding: 0 20px;
    height: 30px;
    border-radius: 0;
}

.AdminIncomingPlacedOrder_page .product_section .halftext_feild{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.AdminIncomingPlacedOrder_page .display_products{
    display: flex;
    flex-direction: column;
    margin-top: 20PX;
    gap: 20px;
}

.AdminIncomingPlacedOrder_page .display_product{
    display: flex;
    flex-flow: row;
    padding: 10px;
    border: 2PX solid #FF8B13;
    gap: 20px;
    background-color: white;
    color: #1D2126;
    justify-content: space-between;
}

.AdminIncomingPlacedOrder_page .display_product .attributes{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.AdminIncomingPlacedOrder_page .display_product span{
    font-weight: 600;
}

.AdminIncomingPlacedOrder_page .placebutton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.AdminIncomingPlacedOrder_page .placebutton button{
    background-color: #1D2126;
    padding: 7px 25px ;
    color: #F0F0F0;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.AdminIncomingPlacedOrder_page .placebutton button:hover{
    background-color: #FF8B13;
    color: #1D2126;
    transition: 0.5s;
}

.AdminIncomingPlacedOrder_page .creatableSelect {
    width: 200px;
    font-size: 16px;
    border: 2px solid #FF8B13;
    outline: none;
}

.AdminIncomingPlacedOrder_page .creatableSelect:focus {
    border-color: #1D2126;
    box-shadow: none;
}



.AdminIncomingPlacedOrder_page .mapContainer{
    margin-top: 20px;
}

.AdminIncomingPlacedOrder_page .select_worker{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    color: red;

}