.LoginPage{
    background-color: #F0F0F0;
    height: 100vh;
}

.LoginPage .loginComponent{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.loginComponent .leftSide img{
    width: 400px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.rightSide .form_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #1D2126;
}

.rightSide .form_header .title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.rightSide .form_header .subTitle{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.rightSide .loginForm{
    display: flex;
    width: 416px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.loginForm .text_feild{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.loginForm .text_feild > label{
    color: #1D2126;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.loginForm .text_feild > input{
    width: 408px;
    height: 35px;
    font-size: 22px;
    border: 2px solid #FF8B13;
    /* opacity: 0.4; */
    background: #FFF;
    color: #1D2126;
    outline: none;
    margin-top: 0;
    padding: 0 5px;
}

.loginForm .loginBtn{
    border-radius: 45px;
    background: #1D2126;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    height: 35px;
    cursor: pointer;
    border: none;
}

.loginForm .loginBtn:hover{
    color: #1D2126;
    background-color: #FF8B13;
    transition: 0.5s;
}

.loginForm .form_bottom{
    width: 100% ;
    color: #1D2126;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.loginForm .linkBtn{
    color: #FF8B13;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
}