.IncomingDeliveredRow{
    width: 100%;
}

.IncomingDeliveredRow_tr {
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #1D2126;
    cursor: pointer;
}

.IncomingDeliveredRow_td {
    width: 20%;
    padding: 10px 20px;
    text-align: center;
}

.IncomingDeliveredRow_tr:hover{
    background-color: #FF8B13;
}