.AddWorkerModal{
    width: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0F0F0;
    padding: 50px;
}

.AddWorkerModal .body .title{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.AddWorkerModal .body .title h1{
    color: #FF8B13;
}

.AddWorkerModal .body .title .icon{
    color: #1D2126;
    cursor: pointer;   
}

.AddWorkerModal .body .title .icon:hover{
    color: #FF8B13;
    transition: 0.5s;
}

.AddWorkerModal .body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1D2126;
    gap: 20px;
}

.AddWorkerModal form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.form_body{
    width: 100%;
}

.AddWorkerModal .AddWorkerForm .nameSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.AddWorkerModal .AddWorkerForm .halftext_feild{
    width: 100%;
    flex-direction: column;
}

.AddWorkerModal .AddWorkerForm .half{
    width: 100%;
    font-size: 16px;
    border: 2px solid #CCCCCC;
    background: #FFF;
    color: #1D2126;
    padding: 0 3px;
    outline: none;
    margin-top: 8px;
    padding: 5px 5px;
    border-radius: 5px;
}

.AddWorkerModal .AddWorkerForm .text_feild{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.AddWorkerModal .AddWorkerForm  label{
    color: #1D2126;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.AddWorkerModal .AddWorkerForm  .full{
    width: 100%;
    font-size: 16px;
    border: 2px solid #CCCCCC;
    background: #FFF;
    color: #1D2126;
    outline: none;
    margin-top: 0;
    padding: 5px 5px;
    border-radius: 5px;
}

.AddWorkerModal .AddWorkerForm .addbtn{
    width: 100%;
    background-color: #1D2126;
    color: #F0F0F0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 5px 0;
}

.AddWorkerModal .AddWorkerForm .addbtn:hover{
    background-color: #FF8B13;
    color: #1D2126;
    transition: 0.5s;
}