.AdminOutgoingOrderDetail_page {
    margin: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: var(--min-height);
    width: 100%;
    gap: 40px;
    justify-content: flex-start;
}

.AdminOutgoingOrderDetail_page .body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AdminOutgoingOrderDetail_page .body .title .page_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.AdminOutgoingOrderDetail_page .arrow{
    rotate: 90deg;
    margin-top: 4px;
    cursor: pointer;
    color: #1D2126;
}

.AdminOutgoingOrderDetail_page .arrow:hover{
    color: #FF8B13;
}

.AdminOutgoingOrderDetail_page  label{
    color: #1D2126;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 10px;
}

.AdminOutgoingOrderDetail_page button{
    background-color: #1D2126;
    padding: 7px 15px ;
    color: #F0F0F0;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 200px;
}

.AdminOutgoingOrderDetail_page button:hover{
    background-color: #FF8B13;
    color: #1D2126;
    transition: 0.5s;
}

.AdminOutgoingOrderDetail_page .creatableSelect {
    width: 150px;
    font-size: 16px;
    border: 2px solid #CCCCCC;
    background-color: white;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
}

.AdminOutgoingOrderDetail_page .creatableSelect:focus {
    border-color: #1D2126;
    box-shadow: none;
}

.AdminOutgoingOrderDetail_page .mapContainer{
    flex: 1;
    height: 100%;
}

.AdminOutgoingOrderDetail_page .error{
    color: red;
    width: auto;
}

.AdminOutgoingOrderDetail_page .AdminIncomingPlacedOrder_table{
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
}

.AdminOutgoingOrderDetail_page .AdminIncomingPlacedOrder_th {
    width: 40%;
    font-size: 18px;
    padding: 10px 20px;
    text-align: left;
    color: #F0F0F0;
    background-color: #1D2126;
}

.AdminOutgoingOrderDetail_page .AdminIncomingPlacedOrder_td {
    padding: 10px 20px;
    text-align: left;
}

.AdminOutgoingOrderDetail_page .orderInfo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.AdminOutgoingOrderDetail_page .right_section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.AdminOutgoingOrderDetail_page .left_section{
    width: 50%;
    height: 100%;
    flex: 1;
}

.AdminOutgoingOrderDetail_page .order_table {
    flex: 1;
    margin-right: 20px;
    width: 100%;
}

.AdminOutgoingOrderDetail_page .btn_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.AdminOutgoingOrderDetail_page .product_table h2{
    color: #1D2126;
}

.AdminOutgoingOrderDetail_page .AdminIncomingProduct_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border: none;
    margin-top: 20px;
}

.AdminOutgoingOrderDetail_page .AdminIncomingProduct_th {
    width: 20%;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    color: #F0F0F0;
    background-color: #1D2126;
}

.AdminOutgoingOrderDetail_page .AdminIncomingProduct_tr{
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #1D2126;
}

.AdminOutgoingOrderDetail_page .AdminIncomingProduct_td {
    padding: 10px 20px;
    text-align: center;
}


.top_left{
    border-top-left-radius: 15px;
}

.top_right{
    border-top-right-radius: 15px;
}

.bottom_left{
    border-bottom-left-radius: 15px;
}

.bottom_right{
    border-bottom-right-radius: 15px;
}