.AdminOutgoingDeliveredOrder_page {
    margin: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 91.7vh;
    width: 100%;
    gap: 40px;
    justify-content: flex-start;
}

.AdminOutgoingDeliveredOrder_page .body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AdminOutgoingDeliveredOrder_page .body .title .right_title{
    display: flex;
    flex-direction: row;
}



.AdminOutgoingDeliveredOrder_page  label{
    color: #1D2126;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 10px;
}

.AdminOutgoingDeliveredOrder_page .placebutton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.AdminOutgoingDeliveredOrder_page .placebutton button{
    background-color: #1D2126;
    padding: 7px 25px ;
    color: #F0F0F0;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.AdminOutgoingDeliveredOrder_page .placebutton button:hover{
    background-color: #FF8B13;
    color: #1D2126;
    transition: 0.5s;
}

.AdminOutgoingDeliveredOrder_page .creatableSelect {
    width: 250px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #CCCCCC;
    background-color: white;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    color: #1D2126;
}

.AdminOutgoingDeliveredOrder_page .mapContainer{
    margin-top: 10px;
}

.AdminOutgoingDeliveredOrder_page .select_worker{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    color: red;

}

.AdminOutgoingDeliveredOrder_page .order_detail_table .AdminOutgoingDeliveredOrder_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.AdminOutgoingDeliveredOrder_page .order_detail_table .AdminOutgoingDeliveredOrder_thead {
    font-size: 20px;
    color: #F0F0F0;
    background-color: #1D2126;
}
  
.AdminOutgoingDeliveredOrder_page .order_detail_table .AdminOutgoingDeliveredOrder_th {
    width: 16%;
    padding: 10px 10px;
    text-align: center;
}

.AdminOutgoingDeliveredOrder_page .order_detail_table .AdminOutgoingDeliveredOrder_tr{
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #1D2126;
}

.AdminOutgoingDeliveredOrder_page .order_detail_table .AdminOutgoingDeliveredOrder_td {
    width: 16%;
    padding: 10px 10px;
    text-align: center;
}

.AdminOutgoingDeliveredOrder_page .table{
    padding-top: 20px;
}

.AdminOutgoingDeliveredOrder_page .AdminOutgoingDeliveredOrder_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.AdminOutgoingDeliveredOrder_page .AdminOutgoingDeliveredOrder_thead {
    font-size: 20px;
    color: #F0F0F0;
    background-color: #1D2126;
}
  
.AdminOutgoingDeliveredOrder_page .AdminOutgoingDeliveredOrder_th {
    width: 20%;
    padding: 10px 10px;
    text-align: center;
}

.AdminOutgoingDeliveredOrder_page .AdminOutgoingDeliveredOrder_tr{
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #1D2126;
}

.AdminOutgoingDeliveredOrder_page .AdminOutgoingDeliveredOrder_td {
    width: 22%;
    padding: 10px 10px;
    text-align: center;
}

.top_left{
    border-top-left-radius: 15px;
}

.top_right{
    border-top-right-radius: 15px;
}