:root {
    --min-height: calc(100vh - 68px);
}

.requests_page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    min-height: var(--min-height);
    width: 100%;
}

.requests_page .body{
    width: 100%;
    padding: 40px 50px;
}

.body .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.body .title input{
    border: 2px solid #CCCCCC;
    font-size: 18px;
    width: 400px;
    outline: none;
    border-radius: 15px;
    padding: 7px 15px;
    background-color: white;
    
}

.table{
    padding-top: 20px;
}

.request_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.request_table .request_thead {
    font-size: 20px;
    color: #F0F0F0;
    background-color: #1D2126;
}
  
.request_table .request_th {
    width: 23%;
    padding: 10px 20px;
    text-align: center;
}

.request_table .top_left{
    border-top-left-radius: 15px;
}

.request_table .top_right{
    border-top-right-radius: 15px;
}

