.AdminIncomingDeliveredOrder_page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.AdminIncomingDeliveredOrder_page .body{
    width: 100%;
    /* margin-top: 50px; */
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.AdminIncomingDeliveredOrder_page h2{
    width: 200px;
}

.AdminIncomingDeliveredOrder_page .info_row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    padding: 10px 0;
}

.AdminIncomingDeliveredOrder_page  .Order_Info{
    padding: 20px 0;
    border-bottom: 1px solid #FF8B13 ;
}

.AdminIncomingDeliveredOrder_page .halftext_feild{
    flex-direction: column;
}

.AdminIncomingDeliveredOrder_page .half{
    width: 280px;
    font-size: 16px;
    border: 2px solid #FF8B13;
    background: #FFF;
    color: #1D2126;
    padding: 0 3px;
    outline: none;
    margin-top: 8px;
    padding: 5px 5px;
}

.AdminIncomingDeliveredOrder_page .Q{
    width: 150px;
    font-size: 16px;
    border: 2px solid #FF8B13;
    background: #FFF;
    color: #1D2126;
    padding: 0 3px;
    outline: none;
    margin-top: 8px;
    padding: 5px 5px;
}

.AdminIncomingDeliveredOrder_page  label{
    color: #1D2126;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 10px;
}

.AdminIncomingDeliveredOrder_page .product_section{
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    align-items: flex-end;
    justify-content: flex-start ;
}

.AdminIncomingDeliveredOrder_page .btn{
    padding: 0 20px;
    height: 30px;
    border-radius: 0;
}

.AdminIncomingDeliveredOrder_page .product_section .halftext_feild{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.AdminIncomingDeliveredOrder_page .display_products{
    display: flex;
    flex-direction: column;
    margin-top: 20PX;
    gap: 20px;
}

.AdminIncomingDeliveredOrder_page .display_product{
    display: flex;
    flex-flow: row;
    padding: 10px;
    border: 2PX solid #FF8B13;
    gap: 20px;
    background-color: white;
    color: #1D2126;
    justify-content: space-between;
}

.AdminIncomingDeliveredOrder_page .display_product .attributes{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.AdminIncomingDeliveredOrder_page .display_product span{
    font-weight: 600;
}

.AdminIncomingDeliveredOrder_page .placebutton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.AdminIncomingDeliveredOrder_page .placebutton button{
    background-color: #1D2126;
    padding: 7px 25px ;
    color: #F0F0F0;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.AdminIncomingDeliveredOrder_page .placebutton button:hover{
    background-color: #FF8B13;
    color: #1D2126;
    transition: 0.5s;
}

.AdminIncomingDeliveredOrder_page .creatableSelect {
    width: 200px;
    font-size: 16px;
    border: 2px solid #FF8B13;
    outline: none;
}

.AdminIncomingDeliveredOrder_page .creatableSelect:focus {
    border-color: #1D2126;
    box-shadow: none;
}



.AdminIncomingDeliveredOrder_page .mapContainer{
    margin-top: 20px;
}

