.OutgoingDeliveredRow{
    width: 100%;
}

.AdminOutgoingDeliveredRow_tr {
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #1D2126;
}

.AdminOutgoingDeliveredRow_td {
    width: 20%;
    padding: 10px 20px;
    text-align: center;
}

.AdminOutgoingDeliveredRow_svg {
    color: #1D2126;
    cursor: pointer;
}

.AdminOutgoingDeliveredRow_svg:hover {
    color: #FF8B13;
    transition: 0.5s;
}