.WorkerLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.WorkerLayout .left_side{
    width: 17%;
    position: fixed;
}

.WorkerLayout .right_side{
    margin-left: 17%;
    width: 83%;
}

.WorkerLayout .right_side .head{
    position: fixed;
    margin-top: 20px;
}