.PartnerStockModal{
    width: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0F0F0;
    padding: 50px;
    outline: none;
    border-radius: 5px;
}

.PartnerStockModal .body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1D2126;
    gap: 20px;
}

.PartnerStockModal .body .title{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.PartnerStockModal .body .title h1{
    color: #FF8B13;
}

.PartnerStockModal .body .title .icon{
    color: #1D2126;
    cursor: pointer;   
}

.PartnerStockModal .body .title .icon:hover{
    color: #FF8B13;
    transition: 0.5s;
}


.PartnerStockModal .form_body{
    width: 100%;
}

.PartnerStockModal form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.PartnerStockModal .partnerForm .nameSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
.PartnerStockModal .partnerForm .halftext_feild{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.PartnerStockModal .partnerForm .half{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #CCCCCC;
    background: #FFF;
    color: #1D2126;
    padding: 0 3px;
    outline: none;
    margin-top: 8px;
    padding: 5px 5px;
    border-radius: 5px;
}

.PartnerStockModal .partnerForm .text_feild{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.PartnerStockModal .partnerForm  label{
    color: #1D2126;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.PartnerStockModal .partnerForm  .full{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #CCCCCC;
    background: #FFF;
    color: #1D2126;
    outline: none;
    margin-top: 0;
    padding: 5px 5px;
    border-radius: 5px;
}